@charset "utf-8";

/* html에서 클래스 위치 변경
header .list li li { .bold .color1 }
header .menu .icon_arrow_text { .on }
header .menu .sub { .show }
header .menu .sub li { .color2 }

#list .contents li { .background-color2 }
*/

/* 변경 */
#history #top .photo {
  background: url(../images/top_01.jpg) center;
  background-size: cover;
}
#ceo #top .photo {
  background: url(../images/top_02.jpg) center;
  background-size: cover;
}
#brand #top .photo {
  background: url(../images/top_03.jpg) center;
  background-size: cover;
}
#testbrand #top .photo {
  background: url(../images/top_04.jpg) center;
  background-size: cover;
}
#internal #top .photo {
  background: url(../images/top_05.jpg) center;
  background-size: cover;
}
#foreign #top .photo {
  background: url(../images/top_06.jpg) center;
  background-size: cover;
}
#step #top .photo {
  background: url(../images/top_07.jpg) center;
  background-size: cover;
}
#briefing #top .photo {
  background: url(../images/top_08.jpg) center;
  background-size: cover;
}
#faq #top .photo {
  background: url(../images/top_09.jpg) center;
  background-size: cover;
}
#inquiry #top .photo {
  background: url(../images/top_10.jpg) center;
  background-size: cover;
}
#event #top .photo {
  background: url(../images/top_11.jpg) center;
  background-size: cover;
}
#recipe #top .photo {
  background: url(../images/top_12.jpg) center;
  background-size: cover;
}
#news #top .photo {
  background: url(../images/top_13.jpg) center;
  background-size: cover;
}
/* 변경 */

h1 {
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  word-break: keep-all;
}
h2 {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 35px;
  word-break: keep-all;
}

#top {
  position: relative;
  margin-top: 160px;
  overflow: hidden;
}
#top .photo {
  width: 100%;
  height: 200px;
  opacity: 0.5;
  transition: all 0.3s;
}
#top .name {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.3s;
}

#history .gray {
  width: 100%;
  padding-top: 50px;
  background: #eee;
  word-break: keep-all;
}
#history section .container-fix {
  position: relative;
  overflow: hidden;
}
#history section .line {
  background: rgb(5, 15, 145);
}
#history section .vertical {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 20px;
  left: 0;
}
#history section .box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
#history section .box:nth-child(2) .year {
  left: 15% !important;
  opacity: 1 !important;
}
#history section .box:nth-child(2) .horizontal {
  left: 0 !important;
  opacity: 1 !important;
}
#history section .box:nth-child(2) .contents {
  left: 15% !important;
  opacity: 1 !important;
}
#history section .box:nth-child(2) .photo {
  left: 15% !important;
  opacity: 1 !important;
}
#history section .box:nth-last-child(1) {
  margin-bottom: 0;
}
#history section .wrap1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#history section .year {
  position: relative;
  width: 85%;
  top: 0;
  left: 25%;
  font-size: 30px;
  font-weight: bold;
  color: rgb(5, 15, 145);
  opacity: 0;
}
#history section .horizontal {
  position: absolute;
  width: 10%;
  height: 2px;
  top: 50%;
  left: -15%;
  opacity: 0;
}
#history section .wrap2 {
  position: relative;
  overflow: hidden;
}
#history section .contents {
  position: relative;
  width: 85%;
  top: 0;
  left: 25%;
  margin: 20px 0;
  opacity: 0;
}
#history section .month {
  font-weight: bold;
  margin-bottom: 10px;
}
#history section .text {
  margin-bottom: 10px;
  line-height: 20px;
}
#history section .photo {
  position: relative;
  width: 85%;
  padding-top: 60%;
  top: 0;
  left: 25%;
  margin: 20px 0;
  opacity: 0;
}
#history section .box:nth-child(2) .photo {
  background: url(../images/1993_1_ssambap.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(3) .photo {
  background: url(../images/1998_1.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(4) .photo {
  background: url(../images/2002_1_bornga.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(5) .photo {
  background: url(../images/2004_1.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(6) .photo:nth-child(5) {
  background: url(../images/2005_1.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(6) .photo:nth-child(6) {
  background: url(../images/2005_4_bongachina.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(7) .photo:nth-child(4) {
  background: url(../images/2006_01.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(7) .photo:nth-child(5) {
  background: url(../images/2006_02_hongkong_1.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(8) .photo {
  background: url(../images/2008_1.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(9) .photo:nth-child(4) {
  background: url(../images/2009_1_paiksbeer.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(9) .photo:nth-child(5) {
  background: url(../images/2009_2.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(11) .photo {
  background: url(../images/2011_1.png) center;
  background-size: cover;
}
#history section .box:nth-child(12) .photo:nth-child(8) {
  background: url(../images/2012_01.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(12) .photo:nth-child(9) {
  background: url(../images/2012_03_newmauljp.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(13) .photo:nth-child(5) {
  background: url(../images/2013_01_borngamal.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(13) .photo:nth-child(6) {
  background: url(../images/2013_02.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(14) .photo:nth-child(8) {
  background: url(../images/2014_02_dolbaegi.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(14) .photo:nth-child(9) {
  background: url(../images/2014_03_paikspan.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(15) .photo:nth-child(7) {
  background: url(../images/2015_01_bongaex.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(15) .photo:nth-child(8) {
  background: url(../images/2015_02_cichange.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(15) .photo:nth-child(9) {
  background: url(../images/2015_03.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(16) .photo {
  background: url(../images/2016_01_coffee.jpg) center;
  background-size: cover;
}
#history section .box:nth-child(17) .photo {
  background: url(../images/2017_01.jpg) center;
  background-size: cover;
}

#ceo section {
  margin-bottom: 0;
  word-break: keep-all;
}
#ceo section .box {
  margin-bottom: 7vh;
}
#ceo section .sign {
  margin-bottom: 14vh;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
#ceo section .sign img {
  width: 150px;
}
#ceo section .bg {
  width: 100vw;
  height: 150px;
  transform: translateX(-5%);
  background: rgb(5, 15, 145);
}
#ceo section .bg .container {
  position: relative;
  height: 100%;
}
#ceo section .bg p {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  color: rgba(5, 15, 245, 0.5);
}
#ceo section .bg img {
  position: absolute;
  height: 40vh;
  bottom: 0;
  right: 0;
}

#testbrand section .gallery,
#brand section .gallery {
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
#testbrand section .title,
#brand section .title {
  margin-bottom: 50px;
}
#testbrand section .box,
#brand section .box {
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
#testbrand section .box .photo,
#brand section .box .photo {
  width: 100%;
}
#brand section .box:nth-child(1) .photo {
  background: url(../images/brand_main_01.png) center;
  background-size: cover;
}
#brand section .box:nth-child(2) .photo {
  background: url(../images/brand_main_02.jpg) center;
  background-size: cover;
}
#brand section .box:nth-child(3) .photo {
  background: url(../images/brand_main_03.png) center;
  background-size: cover;
}
#brand section .box:nth-child(4) .photo {
  background: url(../images/brand_main_04.jpg) center;
  background-size: cover;
}
#brand section .box:nth-child(5) .photo {
  background: url(../images/brand_main_05.jpg) center;
  background-size: cover;
}
#brand section .box:nth-child(6) .photo {
  background: url(../images/brand_main_06.jpg) center;
  background-size: cover;
}
#testbrand section .box .logo,
#brand section .box .logo {
  height: 40px;
  margin: 30px 0;
}
#testbrand section .box .logo img,
#brand section .box .logo img {
  height: 100%;
}
#testbrand section .box .view,
#brand section .box .view {
  margin: 0 0 30px;
}

#testbrand section .box:nth-child(1) .photo {
  background: url(../images/testbrand_main_01.jpg) center;
  background-size: cover;
}

#internal section .map {
  width: 100%;
  height: 80vw;
}
#internal section #map {
  width: 100%;
  height: 100%;
}
#internal section .search {
  margin: 50px 0;
}
#internal section .form-location {
  position: relative;
  width: 100%;
}
#internal section .form-location:nth-child(1) {
  float: left;
  width: 48%;
  margin: 0;
}
#internal section .form-location:nth-child(2) {
  float: right;
  width: 48%;
  margin: 40px 0 0;
}
#internal section .form-location p {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
}
#internal section .form-location .form-control {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  transition: all 0.3s;
}
#internal section .form-control:focus {
  outline: none;
}
#internal section .form-location:nth-child(5) .form-control {
  padding: 0 45px 0 10px;
  border: none;
  border-bottom: 1px solid #333;
}
#internal section .fa-search {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  font-size: 25px;
  color: rgb(5, 15, 145);
  line-height: 40px;
}
#internal section .list {
  line-height: 50px;
  text-align: center;
}
#internal section .list .title li {
  float: left;
  width: 33.3%;
  font-weight: bold;
  border-top: 3px solid rgb(5, 15, 145);
  border-bottom: 1px solid rgb(5, 15, 145);
}
#internal section .list .contents .wrap {
  cursor: pointer;
}
#internal section .list .contents .wrap:hover li {
  background: #eee;
}
#internal section .list .contents li {
  width: 33.3%;
  float: left;
  transition: all 0.3s;
  border-bottom: 1px solid #ddd;
}
#internal section .list .contents .detail {
  display: none;
  padding: 20px 20px 10px;
  background: #eee;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#internal section .list .contents .detail .photo {
  margin-bottom: 10px;
}
#internal section .list .contents ul:nth-child(1) .detail .photo {
  background: url(../images/internal_01.png) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(2) .detail .photo {
  background: url(../images/internal_02.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(3) .detail .photo {
  background: url(../images/internal_03.png) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(4) .detail .photo {
  background: url(../images/internal_04.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(5) .detail .photo {
  background: url(../images/internal_05.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(6) .detail .photo {
  background: url(../images/internal_06.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(7) .detail .photo {
  background: url(../images/internal_07.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(8) .detail .photo {
  background: url(../images/internal_08.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(9) .detail .photo {
  background: url(../images/internal_09.jpg) center;
  background-size: cover;
}
#internal section .list .contents ul:nth-child(10) .detail .photo {
  background: url(../images/internal_10.jpg) center;
  background-size: cover;
}
#internal section .list .contents .detail .text p {
  float: left;
}
#internal section .list .contents .detail .text p:nth-child(2n + 1) {
  width: 90px;
  font-weight: bold;
}
#internal section .list .contents .detail .text p:nth-child(2n) {
  width: calc(100% - 90px);
}

#step section .box {
  position: relative;
  width: 100%;
  margin: 50px 0;
  border: 5px solid #eee;
  text-align: center;
}
#step section .box .wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#step section .box img {
  width: 100%;
}
#step section .box p:nth-child(2) {
  width: 100px;
  margin: 20px auto;
  padding: 20px;
  background: #ddd;
  border-radius: 100%;
}
#step section .box p:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  color: rgb(5, 15, 145);
}
#step section .box p:nth-child(3) {
  font-size: 14px;
  font-weight: bold;
}

#event section .box {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
#event section .box:nth-last-child(1) {
  margin-bottom: 0;
  border-bottom: 0px solid #ddd;
}
#event section .box:nth-child(1) .photo {
  background: url(../images/event_bn_01_m.png);
  background-size: cover;
}
#event section .box:nth-child(2) .photo {
  background: url(../images/event_bn_02_m.png);
  background-size: cover;
}
#event section .box:nth-child(3) .photo {
  background: url(../images/event_bn_03_m.png);
  background-size: cover;
}
#event section .box .text {
  padding: 20px 0 50px;
  text-align: center;
}
#event section .box:nth-last-child(1) .text {
  padding: 20px 0 0;
}
#event section .box .logo img {
  height: 20px;
}
#event section .box .text h1 {
  margin: 5px 0;
}
#event section .box .text p {
  color: #999;
}

@media (min-width: 576px) {
  h1 {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 30px;
  }
  h2 {
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 45px;
  }

  #ceo section .sign {
    font-size: 16px;
  }
  #ceo section .bg {
    height: 200px;
    background: rgb(5, 15, 145);
  }
  #ceo section .bg p {
    font-size: 40px;
    line-height: 40px;
  }

  #testbrand section .gallery,
  #brand section .gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  #testbrand section .title,
  #brand section .title {
    margin-bottom: 60px;
  }
  #testbrand section .box,
  #brand section .box {
    margin-bottom: 30px;
  }

  #internal section .search {
    margin: 60px 0;
  }

  #step section .box {
    float: left;
    width: 48%;
    margin: 4% 0 0 4%;
  }
  #step section .box:nth-child(2n + 1) {
    margin-left: 0;
  }
  #step section .box p:nth-child(1) {
    font-size: 14px;
  }
  #step section .box p:nth-child(3) {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  h1 {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 32px;
  }
  h2 {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 50px;
  }

  #top {
    margin-top: 200px;
  }
  #top .photo {
    height: 400px;
  }
  #top .name {
    font-size: 40px;
  }

  #history section .container-fix {
    height: 6800px;
  }
  #history section .vertical {
    top: 23px;
    left: 50%;
  }
  #history section .box {
    position: relative;
    width: 50%;
    top: 0;
    left: 50%;
    margin: 0;
  }
  #history section .box:nth-child(2n) {
    left: 0;
    text-align: right;
  }
  #history section .year {
    font-size: 35px;
  }
  #history section .contents {
    margin-top: 20px;
    font-size: 15px;
    line-height: 30px;
  }
  #history section .box:nth-child(2) .horizontal {
    left: 90% !important;
  }
  #history section .box:nth-child(2) .year {
    left: 0 !important;
  }
  #history section .box:nth-child(2) .contents {
    left: 0 !important;
  }
  #history section .box:nth-child(2) .photo {
    left: 0 !important;
  }
  #history section .box:nth-child(2n) .year {
    left: -15%;
  }
  #history section .box:nth-child(2n) .horizontal {
    left: 100%;
  }
  #history section .box:nth-child(2n) .contents {
    left: -15%;
  }
  #history section .box:nth-child(2n) .photo {
    left: -15%;
  }
  #history section .box:nth-child(2n + 1) .year {
    left: 40%;
  }
  #history section .box:nth-child(2n + 1) .horizontal {
    left: -15%;
  }
  #history section .box:nth-child(2n + 1) .contents {
    left: 40%;
  }
  #history section .box:nth-child(2n + 1) .photo {
    left: 40%;
  }
  #history section .box:nth-child(3) {
    top: -200px;
  }
  #history section .box:nth-child(4) {
    top: -250px;
  }
  #history section .box:nth-child(5) {
    top: -450px;
  }
  #history section .box:nth-child(6) {
    top: -500px;
  }
  #history section .box:nth-child(7) {
    top: -1100px;
  }
  #history section .box:nth-child(8) {
    top: -1100px;
  }
  #history section .box:nth-child(9) {
    top: -1750px;
  }
  #history section .box:nth-child(10) {
    top: -1750px;
  }
  #history section .box:nth-child(11) {
    top: -1800px;
  }
  #history section .box:nth-child(12) {
    top: -2050px;
  }
  #history section .box:nth-child(13) {
    top: -2800px;
  }
  #history section .box:nth-child(14) {
    top: -2800px;
  }
  #history section .box:nth-child(15) {
    top: -3900px;
  }
  #history section .box:nth-child(16) {
    top: -3950px;
  }
  #history section .box:nth-child(17) {
    top: -4600px;
  }

  #ceo section .sign {
    font-size: 17px;
  }
  #ceo section .sign img {
    width: 200px;
    margin-left: 20px;
  }
  #ceo section .bg {
    height: 250px;
  }
  #ceo section .bg p {
    font-size: 50px;
    line-height: 50px;
  }

  #testbrand section .gallery,
  #brand section .gallery {
    grid-gap: 20px;
  }
  #testbrand section .title,
  #brand section .title {
    margin-bottom: 70px;
  }
  #testbrand section .box,
  #brand section .box {
    margin-bottom: 40px;
  }

  #internal section .search {
    margin: 70px 0;
  }
  #internal section .form-location:nth-child(2) {
    margin: 60px 0 0;
  }
  #internal section .form-location p {
    margin: 20px 0;
  }
  #internal section .form-location .form-control {
    padding: 0 20px;
  }
  #internal section .form-location:nth-child(5) .form-control {
    padding: 0 55px 0 20px;
  }
  #internal section .fa-search {
    padding: 0 15px;
  }
  #internal section .list {
    font-size: 15px;
  }
  #internal section .list .title li,
  #internal section .list .contents li {
    width: 15%;
  }
  #internal section .list .title li:nth-child(4),
  #internal section .list .contents li:nth-child(4) {
    width: 55%;
  }
  #internal section .list .contents .detail .wrap2 {
    padding-left: 20px;
  }
  #internal section .list .contents .detail .text {
    margin: 10px 0;
  }

  #step section .box {
    width: 30%;
    margin: 5% 0 0 5%;
  }
  #step section .box:nth-child(2n + 1) {
    margin-left: 5%;
  }
  #step section .box:nth-child(3n + 1) {
    margin-left: 0;
  }
  #step section .box p:nth-child(3) {
    font-size: 15px;
  }

  #event section .box .photo::after {
    padding-bottom: 25%;
  }
  #event section .box:nth-child(1) .photo {
    background: url(../images/event_bn_01.png);
    background-size: contain;
  }
  #event section .box:nth-child(2) .photo {
    background: url(../images/event_bn_02.png);
    background-size: contain;
  }
  #event section .box:nth-child(3) .photo {
    background: url(../images/event_bn_03.png);
    background-size: contain;
  }
  #event section .box .text {
    padding: 30px 0;
    text-align: left;
  }
  #event section .box .text p {
    font-size: 15px;
    line-height: 40px;
  }
  #event section .box .logo img {
    height: 25px;
  }
  #event section .box .text h1 {
    line-height: 30px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 17px;
    line-height: 34px;
  }
  h2 {
    font-size: 35px;
    line-height: 65px;
  }

  #history section .container-fix {
    height: 7800px;
  }
  #history section .box:nth-child(2n) .contents {
    left: 25%;
  }
  #history section .box:nth-child(3) {
    top: -200px;
  }
  #history section .box:nth-child(4) {
    top: -250px;
  }
  #history section .box:nth-child(5) {
    top: -450px;
  }
  #history section .box:nth-child(6) {
    top: -500px;
  }
  #history section .box:nth-child(7) {
    top: -1200px;
  }
  #history section .box:nth-child(8) {
    top: -1200px;
  }
  #history section .box:nth-child(9) {
    top: -1750px;
  }
  #history section .box:nth-child(10) {
    top: -1900px;
  }
  #history section .box:nth-child(11) {
    top: -1800px;
  }
  #history section .box:nth-child(12) {
    top: -2200px;
  }
  #history section .box:nth-child(13) {
    top: -2800px;
  }
  #history section .box:nth-child(14) {
    top: -3000px;
  }
  #history section .box:nth-child(15) {
    top: -3950px;
  }
  #history section .box:nth-child(16) {
    top: -4250px;
  }
  #history section .box:nth-child(17) {
    top: -4650px;
  }

  #testbrand section .gallery,
  #brand section .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #testbrand section .title,
  #brand section .title {
    margin-bottom: 80px;
  }
  #testbrand section .box,
  #brand section .box {
    margin-bottom: 50px;
  }

  #internal section .map {
    height: 50vh;
  }
  #internal section .search {
    margin: 80px 0;
  }
}
@media (min-width: 1200px) {
  /* 변경 */
  #history #list .title,
  #ceo #list .title {
    background: url(../images/mb_thebone_p.png) center;
    background-size: cover;
  }
  #testbrand #list .title,
  #brand #list .title {
    background: url(../images/mb_brand_p.png) center;
    background-size: cover;
  }
  #internal #list .title {
    background: url(../images/mb_brand_p.png) center;
    background-size: cover;
  }
  #step #list .title {
    background: url(../images/mb_brand_p.png) center;
    background-size: cover;
  }
  #event #list .title {
    background: url(../images/mb_brand_p.png) center;
    background-size: cover;
  }

  #history #list .contents li,
  #ceo #list .contents li,
  #testbrand #list .contents li,
  #brand #list .contents li,
  #internal #list .contents li {
    width: 50%;
  }
  #step #list .contents li {
    width: 25%;
  }
  #event #list .contents li {
    width: 33.3%;
  }
  /* 변경 */

  h1 {
    font-size: 18px;
    line-height: 36px;
  }
  h2 {
    font-size: 40px;
    line-height: 70px;
  }

  #list {
    text-align: center;
    font-weight: bold;
  }
  #list .title {
    height: 400px;
    line-height: 500px;
    overflow: hidden;
  }
  #list .title p {
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 5px #000;
  }
  #list .contents {
    border-bottom: 1px solid #ddd;
  }
  #list .contents ul {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
  }
  #list .contents li {
    float: left;
    height: 70px;
    font-size: 18px;
    font-weight: bold;
    line-height: 70px;
    color: #333;
    border-right: 1px solid #ddd;
  }
  #list .contents a:nth-child(1) li {
    border-left: 1px solid #ddd;
  }

  #history section .container-fix {
    height: 7900px;
  }
  #history .gray {
    padding-top: 90px;
  }
  #history section .vertical {
    top: 27px;
  }
  #history section .year {
    font-size: 40px;
  }
  #history section .box:nth-child(2n) .year {
    left: 0;
  }
  #history section .box:nth-child(2n) .horizontal {
    left: 80%;
  }
  #history section .contents {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
  }
  #history section .box:nth-child(2n) .contents {
    left: 0;
  }
  #history section .box:nth-child(2n) .photo {
    left: 0;
  }
  #history section .box:nth-child(3) {
    top: -300px;
  }
  #history section .box:nth-child(4) {
    top: -350px;
  }
  #history section .box:nth-child(5) {
    top: -650px;
  }
  #history section .box:nth-child(6) {
    top: -700px;
  }
  #history section .box:nth-child(7) {
    top: -1550px;
  }
  #history section .box:nth-child(8) {
    top: -1500px;
  }
  #history section .box:nth-child(9) {
    top: -2200px;
  }
  #history section .box:nth-child(10) {
    top: -2300px;
  }
  #history section .box:nth-child(11) {
    top: -2250px;
  }
  #history section .box:nth-child(12) {
    top: -2700px;
  }
  #history section .box:nth-child(13) {
    top: -3400px;
  }
  #history section .box:nth-child(14) {
    top: -3600px;
  }
  #history section .box:nth-child(15) {
    top: -4650px;
  }
  #history section .box:nth-child(16) {
    top: -5000px;
  }
  #history section .box:nth-child(17) {
    top: -5450px;
  }

  #ceo section {
    margin-top: 0;
    background: linear-gradient(to right, rgb(5, 15, 145) 20%, transparent 20%);
  }
  #ceo section .box {
    margin-bottom: 80px;
  }
  #ceo section .wrap {
    order: 2;
    margin-top: 90px;
    margin-right: 0;
  }
  #ceo section .bg {
    order: 1;
  }
  #ceo section .sign {
    margin-bottom: 80px;
    font-size: 20px;
  }
  #ceo section .sign img {
    width: 250px;
  }
  #ceo section .bg {
    height: 1456px;
  }
  #ceo section .bg img {
    height: 50%;
    transform: translateX(30%);
  }

  #testbrand section .gallery,
  #brand section .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #testbrand section .title,
  #brand section .title {
    margin-bottom: 90px;
  }
  #testbrand section .box,
  #brand section .box {
    margin-bottom: 60px;
  }

  #internal section .map {
    height: 700px;
  }
  #internal section .search {
    margin: 100px 0;
  }
  #internal section .form-location {
    float: left;
    width: 22.5%;
    margin: 0;
    margin-left: 4%;
  }
  #internal section .form-location:nth-child(1) {
    width: 22.5%;
    margin-left: 0;
  }
  #internal section .form-location:nth-child(2) {
    float: left;
    width: 22.5%;
    margin-left: 2%;
  }
  #internal section .form-location p {
    margin: 20px 0;
  }
  #internal section .form-location .form-control {
    padding: 0 20px;
  }
  #internal section .form-location:nth-child(5) .form-control {
    padding: 0 55px 0 20px;
  }
  #internal section .fa-search {
    padding: 0 15px;
  }
  #internal section .list {
    margin: 100px 0;
    line-height: 60px;
  }
  #internal section .list .title li,
  #internal section .list .contents li {
    width: 15%;
  }
  #internal section .list .title li:nth-child(4),
  #internal section .list .contents li:nth-child(4) {
    width: 40%;
  }
  #internal section .list .contents .detail {
    padding: 30px;
  }
  #internal section .list .contents .detail .wrap2 {
    padding: 30px 40px 30px;
  }

  #step section .box {
    width: 23.5%;
    margin: 2% 0 0 2%;
  }
  #step section .box:nth-child(2n + 1) {
    margin-left: 2%;
  }
  #step section .box:nth-child(3n + 1) {
    margin-left: 2%;
  }
  #step section .box:nth-child(4n + 1) {
    margin-left: 0;
  }

  #event section {
    margin: 100px 0;
  }
  #event section .box .logo img {
    height: 30px;
  }
  #event section .box .text p {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  #list .contents ul {
    max-width: 1320px;
  }

  #step section .box {
    width: 18%;
    margin: 2.5% 0 0 2.5%;
  }
  #step section .box:nth-child(2n + 1) {
    margin-left: 2.5%;
  }
  #step section .box:nth-child(3n + 1) {
    margin-left: 2.5%;
  }
  #step section .box:nth-child(4n + 1) {
    margin-left: 2.5%;
  }
  #step section .box:nth-child(5n + 1) {
    margin-left: 0;
  }
}
