@charset "utf-8";

/* html에서 클래스 위치 변경
header .list li li { .bold .color1 }
header .menu .icon_arrow_text { .on }
header .menu .sub { .show }
header .menu .sub li { .color2 }

.subList .contents li { .background-color2 }
*/

/* 변경 */
#historyTop .photo {
  background: url(../images/top_01.jpg) center;
  background-size: cover;
}
#ceoTop .photo {
  background: url(../images/top_02.jpg) center;
  background-size: cover;
}
#brandTop .photo {
  background: url(../images/top_03.jpg) center;
  background-size: cover;
}
#testbrandTop .photo {
  background: url(../images/top_04.jpg) center;
  background-size: cover;
}
#internalTop .photo {
  background: url(../images/top_05.jpg) center;
  background-size: cover;
}
#foreignTop .photo {
  background: url(../images/top_06.jpg) center;
  background-size: cover;
}
#stepTop .photo {
  background: url(../images/top_07.jpg) center;
  background-size: cover;
}
#briefingTop .photo {
  background: url(../images/top_08.jpg) center;
  background-size: cover;
}
#faqTop .photo {
  background: url(../images/top_09.jpg) center;
  background-size: cover;
}
#inquiryTop .photo {
  background: url(../images/top_10.jpg) center;
  background-size: cover;
}
#eventTop .photo {
  background: url(../images/top_11.jpg) center;
  background-size: cover;
}
#recipeTop .photo {
  background: url(../images/top_12.jpg) center;
  background-size: cover;
}
#newsTop .photo {
  background: url(../images/top_13.jpg) center;
  background-size: cover;
}
/* 변경 */

h1 {
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  word-break: keep-all;
}
h2 {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 35px;
  word-break: keep-all;
}

.subTop {
  position: relative;
  margin-top: 160px;
  overflow: hidden;
}
.subTop .photo {
  width: 100%;
  height: 200px;
  opacity: 0.5;
  transition: all 0.3s;
}
.subTop .name {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.3s;
}

#history .gray {
  width: 100%;
  padding-top: 50px;
  background: #eee;
  word-break: keep-all;
}
#history .container-fix {
  position: relative;
  overflow: hidden;
}
#history .line {
  background: rgb(5, 15, 145);
}
#history .vertical {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 20px;
  left: 0;
}
#history .box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
#history .box:nth-child(2) .year {
  left: 15% !important;
  opacity: 1 !important;
}
#history .box:nth-child(2) .horizontal {
  left: 0 !important;
  opacity: 1 !important;
}
#history .box:nth-child(2) .contents {
  left: 15% !important;
  opacity: 1 !important;
}
#history .box:nth-child(2) .photo {
  left: 15% !important;
  opacity: 1 !important;
}
#history .box:nth-last-child(1) {
  margin-bottom: 0;
}
#history .wrap1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#history .year {
  position: relative;
  width: 85%;
  top: 0;
  left: 25%;
  font-size: 30px;
  font-weight: bold;
  color: rgb(5, 15, 145);
  opacity: 0;
}
#history .horizontal {
  position: absolute;
  width: 10%;
  height: 2px;
  top: 50%;
  left: -15%;
  opacity: 0;
}
#history .wrap2 {
  position: relative;
  overflow: hidden;
}
#history .contents {
  position: relative;
  width: 85%;
  top: 0;
  left: 25%;
  margin: 20px 0;
  opacity: 0;
}
#history .month {
  font-weight: bold;
  margin-bottom: 10px;
}
#history .text {
  margin-bottom: 10px;
  line-height: 20px;
}
#history .photo {
  position: relative;
  width: 85%;
  padding-top: 60%;
  top: 0;
  left: 25%;
  margin: 20px 0;
  opacity: 0;
}
#history .box:nth-child(2) .photo {
  background: url(../images/1993_1_ssambap.jpg) center;
  background-size: cover;
}
#history .box:nth-child(3) .photo {
  background: url(../images/1998_1.jpg) center;
  background-size: cover;
}
#history .box:nth-child(4) .photo {
  background: url(../images/2002_1_bornga.jpg) center;
  background-size: cover;
}
#history .box:nth-child(5) .photo {
  background: url(../images/2004_1.jpg) center;
  background-size: cover;
}
#history .box:nth-child(6) .photo:nth-child(5) {
  background: url(../images/2005_1.jpg) center;
  background-size: cover;
}
#history .box:nth-child(6) .photo:nth-child(6) {
  background: url(../images/2005_4_bongachina.jpg) center;
  background-size: cover;
}
#history .box:nth-child(7) .photo:nth-child(4) {
  background: url(../images/2006_01.jpg) center;
  background-size: cover;
}
#history .box:nth-child(7) .photo:nth-child(5) {
  background: url(../images/2006_02_hongkong_1.jpg) center;
  background-size: cover;
}
#history .box:nth-child(8) .photo {
  background: url(../images/2008_1.jpg) center;
  background-size: cover;
}
#history .box:nth-child(9) .photo:nth-child(4) {
  background: url(../images/2009_1_paiksbeer.jpg) center;
  background-size: cover;
}
#history .box:nth-child(9) .photo:nth-child(5) {
  background: url(../images/2009_2.jpg) center;
  background-size: cover;
}
#history .box:nth-child(11) .photo {
  background: url(../images/2011_1.png) center;
  background-size: cover;
}
#history .box:nth-child(12) .photo:nth-child(8) {
  background: url(../images/2012_01.jpg) center;
  background-size: cover;
}
#history .box:nth-child(12) .photo:nth-child(9) {
  background: url(../images/2012_03_newmauljp.jpg) center;
  background-size: cover;
}
#history .box:nth-child(13) .photo:nth-child(5) {
  background: url(../images/2013_01_borngamal.jpg) center;
  background-size: cover;
}
#history .box:nth-child(13) .photo:nth-child(6) {
  background: url(../images/2013_02.jpg) center;
  background-size: cover;
}
#history .box:nth-child(14) .photo:nth-child(8) {
  background: url(../images/2014_02_dolbaegi.jpg) center;
  background-size: cover;
}
#history .box:nth-child(14) .photo:nth-child(9) {
  background: url(../images/2014_03_paikspan.jpg) center;
  background-size: cover;
}
#history .box:nth-child(15) .photo:nth-child(7) {
  background: url(../images/2015_01_bongaex.jpg) center;
  background-size: cover;
}
#history .box:nth-child(15) .photo:nth-child(8) {
  background: url(../images/2015_02_cichange.jpg) center;
  background-size: cover;
}
#history .box:nth-child(15) .photo:nth-child(9) {
  background: url(../images/2015_03.jpg) center;
  background-size: cover;
}
#history .box:nth-child(16) .photo {
  background: url(../images/2016_01_coffee.jpg) center;
  background-size: cover;
}
#history .box:nth-child(17) .photo {
  background: url(../images/2017_01.jpg) center;
  background-size: cover;
}

#ceo {
  margin-bottom: 0;
  word-break: keep-all;
}
#ceo .box {
  margin-bottom: 7vh;
}
#ceo .sign {
  margin-bottom: 14vh;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
#ceo .sign img {
  width: 150px;
}
#ceo .bg {
  width: 100vw;
  height: 150px;
  transform: translateX(-5%);
  background: rgb(5, 15, 145);
}
#ceo .bg .container {
  position: relative;
  height: 100%;
}
#ceo .bg p {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  color: rgba(5, 15, 245, 0.5);
}
#ceo .bg img {
  position: absolute;
  height: 40vh;
  bottom: 0;
  right: 0;
}

#testbrand .gallery,
#brand .gallery {
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
#testbrand .title,
#brand .title {
  margin-bottom: 50px;
}
#testbrand .box,
#brand .box {
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
#testbrand .box .photo,
#brand .box .photo {
  width: 100%;
}
#brand .box:nth-child(1) .photo {
  background: url(../images/brand_main_01.png) center;
  background-size: cover;
}
#brand .box:nth-child(2) .photo {
  background: url(../images/brand_main_02.jpg) center;
  background-size: cover;
}
#brand .box:nth-child(3) .photo {
  background: url(../images/brand_main_03.png) center;
  background-size: cover;
}
#brand .box:nth-child(4) .photo {
  background: url(../images/brand_main_04.jpg) center;
  background-size: cover;
}
#brand .box:nth-child(5) .photo {
  background: url(../images/brand_main_05.jpg) center;
  background-size: cover;
}
#brand .box:nth-child(6) .photo {
  background: url(../images/brand_main_06.jpg) center;
  background-size: cover;
}
#testbrand .box .logo,
#brand .box .logo {
  height: 40px;
  margin: 30px 0;
}
#testbrand .box .logo img,
#brand .box .logo img {
  height: 100%;
}
#testbrand .box .view,
#brand .box .view {
  margin: 0 0 30px;
}

#testbrand .box:nth-child(1) .photo {
  background: url(../images/testbrand_main_01.jpg) center;
  background-size: cover;
}

#foreign .map,
#internal .map {
  width: 100%;
  height: 80vw;
}
#foreign #map,
#internal #map {
  width: 100%;
  height: 100%;
}
#foreign .search,
#internal .search {
  margin: 50px 0;
}
#foreign .form-box:nth-child(1),
#internal .form-box:nth-child(1) {
  float: left;
  width: 48%;
  margin: 0;
}
#internal .form-box:nth-child(2) {
  float: right;
  width: 48%;
  margin: 40px 0 0;
}
#foreign .form-box:nth-child(5) .form-control,
#internal .form-box:nth-child(5) .form-control {
  padding: 0 45px 0 10px;
  border: none;
  border-bottom: 1px solid #333;
}
#foreign .fa-search,
#internal .fa-search {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  font-size: 25px;
  color: rgb(5, 15, 145);
  line-height: 40px;
}
#foreign .list,
#internal .list {
  line-height: 50px;
  text-align: center;
}
#foreign .list .title li,
#internal .list .title li {
  float: left;
  width: 33.3%;
  font-weight: bold;
  border-top: 3px solid rgb(5, 15, 145);
  border-bottom: 1px solid rgb(5, 15, 145);
}
#foreign .list .contents .wrap,
#internal .list .contents .wrap {
  cursor: pointer;
}
#foreign .list .contents .wrap:hover li,
#internal .list .contents .wrap:hover li {
  background: #eee;
}
#foreign .list .contents li,
#internal .list .contents li {
  width: 33.3%;
  float: left;
  transition: all 0.3s;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#foreign .list .contents .detail,
#internal .list .contents .detail {
  display: none;
  padding: 20px 20px 10px;
  background: #eee;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#foreign .list .contents .detail .photo,
#internal .list .contents .detail .photo {
  margin-bottom: 10px;
}
#internal .list .contents ul:nth-child(1) .detail .photo {
  background: url(../images/internal_01.png) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(2) .detail .photo {
  background: url(../images/internal_02.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(3) .detail .photo {
  background: url(../images/internal_03.png) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(4) .detail .photo {
  background: url(../images/internal_04.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(5) .detail .photo {
  background: url(../images/internal_05.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(6) .detail .photo {
  background: url(../images/internal_06.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(7) .detail .photo {
  background: url(../images/internal_07.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(8) .detail .photo {
  background: url(../images/internal_08.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(9) .detail .photo {
  background: url(../images/internal_09.jpg) center;
  background-size: cover;
}
#internal .list .contents ul:nth-child(10) .detail .photo {
  background: url(../images/internal_10.jpg) center;
  background-size: cover;
}
#foreign .list .contents .detail .text p,
#internal .list .contents .detail .text p {
  float: left;
}
#foreign .list .contents .detail .text p:nth-child(2n + 1),
#internal .list .contents .detail .text p:nth-child(2n + 1) {
  width: 90px;
  font-weight: bold;
}
#foreign .list .contents .detail .text p:nth-child(2n),
#internal .list .contents .detail .text p:nth-child(2n) {
  width: calc(100% - 90px);
}

#foreign .form-box:nth-child(2) {
  float: right;
  width: 48%;
}
#foreign .list .contents ul:nth-child(1) .detail .photo {
  background: url(../images/foreign_01.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(2) .detail .photo {
  background: url(../images/foreign_02.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(3) .detail .photo {
  background: url(../images/foreign_03.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(4) .detail .photo {
  background: url(../images/foreign_04.png) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(5) .detail .photo {
  background: url(../images/foreign_05.png) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(6) .detail .photo {
  background: url(../images/foreign_06.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(7) .detail .photo {
  background: url(../images/foreign_07.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(8) .detail .photo {
  background: url(../images/foreign_08.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(9) .detail .photo {
  background: url(../images/foreign_09.jpg) center;
  background-size: cover;
}
#foreign .list .contents ul:nth-child(10) .detail .photo {
  background: url(../images/foreign_10.jpg) center;
  background-size: cover;
}

#step .box {
  position: relative;
  width: 100%;
  margin: 50px 0;
  border: 5px solid #eee;
  text-align: center;
}
#step .box .wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#step .box img {
  width: 100%;
}
#step .box p:nth-child(2) {
  width: 100px;
  margin: 20px auto;
  padding: 20px;
  background: #ddd;
  border-radius: 100%;
}
#step .box p:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  color: rgb(5, 15, 145);
}
#step .box p:nth-child(3) {
  font-size: 14px;
  font-weight: bold;
}

#faq .title {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}
#faq .box:nth-child(1) .title {
  border-top: 0px solid #eee;
}
#faq .title p {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}
#faq .title p:nth-child(1) {
  padding-right: 5px;
}
#faq .title .i-a-t {
  margin-left: 10px;
  transition: all 0.5s;
}
#faq .title .i-a-t.on {
  transform: rotate(180deg);
}
#faq .contents {
  display: none;
  padding: 20px 0;
  border-top: 1px solid #eee;
}
#faq .contents p {
  font-size: 14px;
  line-height: 24px;
}

#inquiry .form-box {
  margin-bottom: 30px;
}
#inquiry .form-box:nth-last-child(1) {
  margin-bottom: 0;
}
#inquiry .form-box .form-control {
  color: #888;
  border: none;
  border-bottom: 1px solid #888;
}
#inquiry .form-box:nth-child(1) .form-control:nth-child(2),
#inquiry .form-box:nth-child(5) .form-control:nth-child(2) {
  float: left;
  width: 48%;
}
#inquiry .form-box:nth-child(1) .form-control:nth-child(3),
#inquiry .form-box:nth-child(5) .form-control:nth-child(3) {
  float: right;
  width: 48%;
}
#inquiry .form-box:nth-child(3) .form-control {
  float: left;
  width: 31%;
  margin-right: 3.5%;
}
#inquiry .form-box:nth-child(3) .form-control:nth-last-child(1) {
  margin-right: 0;
}
#inquiry .form-box:nth-child(4) .form-control {
  float: left;
  width: 45%;
}
#inquiry .form-box:nth-child(4) p:nth-child(3) {
  float: left;
  width: 10%;
  text-align: center;
  color: #888;
}
#inquiry #store_y {
  margin-left: 20px;
}
#inquiry .form_click {
  margin: 10px 0;
  font-size: 15px;
}
#inquiry .post {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #888;
  border: 0;
  border-radius: 5px;
}
#inquiry .form-box:nth-child(7) .form-control {
  height: auto;
  padding: 10px;
  border: 1px solid #888;
}
#inquiry .btn {
  margin-top: 50px;
}
#inquiry .btn p {
  width: 100px;
  margin: 10px;
  padding: 10px 0;
  font-size: 15px;
  color: #fff;
  background: rgb(5, 15, 145);
  text-align: center;
}
#inquiry .btn p:nth-child(2) {
  color: rgb(5, 15, 145);
  background: #fff;
  border: 1px solid rgb(5, 15, 145);
}

#event .box {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
#event .box:nth-last-child(1) {
  margin-bottom: 0;
  border-bottom: 0px solid #ddd;
}
#event .box:nth-child(1) .photo {
  background: url(../images/event_bn_01_m.png);
  background-size: cover;
}
#event .box:nth-child(2) .photo {
  background: url(../images/event_bn_02_m.png);
  background-size: cover;
}
#event .box:nth-child(3) .photo {
  background: url(../images/event_bn_03_m.png);
  background-size: cover;
}
#event .box .text {
  padding: 20px 0 50px;
  text-align: center;
}
#event .box:nth-last-child(1) .text {
  padding: 20px 0 0;
}
#event .box .logo img {
  height: 20px;
}
#event .box .text h1 {
  margin: 5px 0;
}
#event .box .text p {
  color: #999;
}

@media (min-width: 576px) {
  h1 {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 30px;
  }
  h2 {
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 45px;
  }

  #ceo .sign {
    font-size: 16px;
  }
  #ceo .bg {
    height: 200px;
    background: rgb(5, 15, 145);
  }
  #ceo .bg p {
    font-size: 40px;
    line-height: 40px;
  }

  #testbrand .gallery,
  #brand .gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  #testbrand .title,
  #brand .title {
    margin-bottom: 60px;
  }
  #testbrand .box,
  #brand .box {
    margin-bottom: 30px;
  }

  #foreign .search,
  #internal .search {
    margin: 60px 0;
  }

  #step .box {
    float: left;
    width: 48%;
    margin: 4% 0 0 4%;
  }
  #step .box:nth-child(2n + 1) {
    margin-left: 0;
  }
  #step .box p:nth-child(1) {
    font-size: 14px;
  }
  #step .box p:nth-child(3) {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  h1 {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 32px;
  }
  h2 {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 50px;
  }

  .subTop {
    margin-top: 200px;
  }
  .subTop .photo {
    height: 400px;
  }
  .subTop .name {
    font-size: 40px;
  }

  #history .container-fix {
    height: 6800px;
  }
  #history .vertical {
    top: 23px;
    left: 50%;
  }
  #history .box {
    position: relative;
    width: 50%;
    top: 0;
    left: 50%;
    margin: 0;
  }
  #history .box:nth-child(2n) {
    left: 0;
    text-align: right;
  }
  #history .year {
    font-size: 35px;
  }
  #history .contents {
    margin-top: 20px;
    font-size: 15px;
    line-height: 30px;
  }
  #history .box:nth-child(2) .horizontal {
    left: 90% !important;
  }
  #history .box:nth-child(2) .year {
    left: 0 !important;
  }
  #history .box:nth-child(2) .contents {
    left: 0 !important;
  }
  #history .box:nth-child(2) .photo {
    left: 0 !important;
  }
  #history .box:nth-child(2n) .year {
    left: -15%;
  }
  #history .box:nth-child(2n) .horizontal {
    left: 100%;
  }
  #history .box:nth-child(2n) .contents {
    left: -15%;
  }
  #history .box:nth-child(2n) .photo {
    left: -15%;
  }
  #history .box:nth-child(2n + 1) .year {
    left: 40%;
  }
  #history .box:nth-child(2n + 1) .horizontal {
    left: -15%;
  }
  #history .box:nth-child(2n + 1) .contents {
    left: 40%;
  }
  #history .box:nth-child(2n + 1) .photo {
    left: 40%;
  }
  #history .box:nth-child(3) {
    top: -200px;
  }
  #history .box:nth-child(4) {
    top: -250px;
  }
  #history .box:nth-child(5) {
    top: -450px;
  }
  #history .box:nth-child(6) {
    top: -500px;
  }
  #history .box:nth-child(7) {
    top: -1100px;
  }
  #history .box:nth-child(8) {
    top: -1100px;
  }
  #history .box:nth-child(9) {
    top: -1750px;
  }
  #history .box:nth-child(10) {
    top: -1750px;
  }
  #history .box:nth-child(11) {
    top: -1800px;
  }
  #history .box:nth-child(12) {
    top: -2050px;
  }
  #history .box:nth-child(13) {
    top: -2800px;
  }
  #history .box:nth-child(14) {
    top: -2800px;
  }
  #history .box:nth-child(15) {
    top: -3900px;
  }
  #history .box:nth-child(16) {
    top: -3950px;
  }
  #history .box:nth-child(17) {
    top: -4600px;
  }

  #ceo .sign {
    font-size: 17px;
  }
  #ceo .sign img {
    width: 200px;
    margin-left: 20px;
  }
  #ceo .bg {
    height: 250px;
  }
  #ceo .bg p {
    font-size: 50px;
    line-height: 50px;
  }

  #testbrand .gallery,
  #brand .gallery {
    grid-gap: 20px;
  }
  #testbrand .title,
  #brand .title {
    margin-bottom: 70px;
  }
  #testbrand .box,
  #brand .box {
    margin-bottom: 40px;
  }

  #foreign .search,
  #internal .search {
    margin: 70px 0;
  }
  #internal .form-box:nth-child(2) {
    margin: 60px 0 0;
  }
  #foreign .form-box:nth-child(5) .form-control,
  #internal .form-box:nth-child(5) .form-control {
    padding: 0 55px 0 20px;
  }
  #foreign .fa-search,
  #internal .fa-search {
    padding: 0 15px;
  }
  #foreign .list,
  #internal .list {
    font-size: 15px;
  }
  #foreign .list .title li,
  #foreign .list .contents li,
  #internal .list .title li,
  #internal .list .contents li {
    width: 15%;
  }
  #foreign .list .title li:nth-child(4),
  #foreign .list .contents li:nth-child(4),
  #internal .list .title li:nth-child(4),
  #internal .list .contents li:nth-child(4) {
    width: 55%;
  }
  #foreign .list .contents .detail .wrap2,
  #internal .list .contents .detail .wrap2 {
    padding-left: 20px;
  }
  #foreign .list .contents .detail .text,
  #internal .list .contents .detail .text {
    margin: 10px 0;
  }

  #step .box {
    width: 30%;
    margin: 5% 0 0 5%;
  }
  #step .box:nth-child(2n + 1) {
    margin-left: 5%;
  }
  #step .box:nth-child(3n + 1) {
    margin-left: 0;
  }
  #step .box p:nth-child(3) {
    font-size: 15px;
  }

  #inquiry .border {
    padding: 70px;
    border: 3px solid #eee;
    border-radius: 10px;
  }
  #inquiry .form-box:nth-child(1) .form-control:nth-child(2),
  #inquiry .form-box:nth-child(5) .form-control:nth-child(2) {
    margin-right: 3.5%;
  }
  #inquiry .form_block {
    padding-top: 20px;
  }

  #event .box .photo::after {
    padding-bottom: 25%;
  }
  #event .box:nth-child(1) .photo {
    background: url(../images/event_bn_01.png);
    background-size: contain;
  }
  #event .box:nth-child(2) .photo {
    background: url(../images/event_bn_02.png);
    background-size: contain;
  }
  #event .box:nth-child(3) .photo {
    background: url(../images/event_bn_03.png);
    background-size: contain;
  }
  #event .box .text {
    padding: 30px 0;
    text-align: left;
  }
  #event .box .text p {
    font-size: 15px;
    line-height: 40px;
  }
  #event .box .logo img {
    height: 25px;
  }
  #event .box .text h1 {
    line-height: 30px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 17px;
    line-height: 34px;
  }
  h2 {
    font-size: 35px;
    line-height: 65px;
  }

  #history .container-fix {
    height: 7800px;
  }
  #history .box:nth-child(2n) .contents {
    left: 25%;
  }
  #history .box:nth-child(3) {
    top: -200px;
  }
  #history .box:nth-child(4) {
    top: -250px;
  }
  #history .box:nth-child(5) {
    top: -450px;
  }
  #history .box:nth-child(6) {
    top: -500px;
  }
  #history .box:nth-child(7) {
    top: -1200px;
  }
  #history .box:nth-child(8) {
    top: -1200px;
  }
  #history .box:nth-child(9) {
    top: -1750px;
  }
  #history .box:nth-child(10) {
    top: -1900px;
  }
  #history .box:nth-child(11) {
    top: -1800px;
  }
  #history .box:nth-child(12) {
    top: -2200px;
  }
  #history .box:nth-child(13) {
    top: -2800px;
  }
  #history .box:nth-child(14) {
    top: -3000px;
  }
  #history .box:nth-child(15) {
    top: -3950px;
  }
  #history .box:nth-child(16) {
    top: -4250px;
  }
  #history .box:nth-child(17) {
    top: -4650px;
  }

  #testbrand .gallery,
  #brand .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #testbrand .title,
  #brand .title {
    margin-bottom: 80px;
  }
  #testbrand .box,
  #brand .box {
    margin-bottom: 50px;
  }

  #foreign .map,
  #internal .map {
    height: 50vh;
  }
  #foreign .search,
  #internal .search {
    margin: 80px 0;
  }
}
@media (min-width: 1200px) {
  /* 변경 */
  #historyList .title,
  #ceoList .title {
    background: url(../images/list_01.png) center;
    background-size: cover;
  }
  #testbrandList .title,
  #brandList .title {
    background: url(../images/list_02.jpg) center;
    background-size: cover;
  }
  #internalList .title,
  #foreignList .title {
    background: url(../images/list_03.jpg) center;
    background-size: cover;
  }
  #stepList .title,
  #briefingList .title,
  #faqList .title,
  #inquiryList .title {
    background: url(../images/list_04.jpg) center;
    background-size: cover;
  }
  #eventList .title,
  #recipeList .title,
  #newsList .title {
    background: url(../images/list_05.jpg) center;
    background-size: cover;
  }

  #historyList .contents li,
  #ceoList .contents li,
  #testbrandList .contents li,
  #brandList .contents li,
  #internalList .contents li,
  #foreignList .contents li {
    width: 50%;
  }
  #stepList .contents li,
  #briefingList .contents li,
  #faqList .contents li,
  #inquiryList .contents li {
    width: 25%;
  }
  #eventList .contents li,
  #recipeList .contents li,
  #newsList .contents li {
    width: 33.3%;
  }
  /* 변경 */

  h1 {
    font-size: 18px;
    line-height: 36px;
  }
  h2 {
    font-size: 40px;
    line-height: 70px;
  }

  .subList {
    text-align: center;
    font-weight: bold;
  }
  .subList .title {
    height: 400px;
    line-height: 500px;
    overflow: hidden;
  }
  .subList .title p {
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 5px #000;
  }
  .subList .contents {
    border-bottom: 1px solid #ddd;
  }
  .subList .contents ul {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
  }
  .subList .contents li {
    float: left;
    height: 70px;
    font-size: 18px;
    font-weight: bold;
    line-height: 70px;
    color: #333;
    border-right: 1px solid #ddd;
  }
  .subList .contents a:nth-child(1) li {
    border-left: 1px solid #ddd;
  }

  #history .container-fix {
    height: 7900px;
  }
  #history .gray {
    padding-top: 90px;
  }
  #history .vertical {
    top: 27px;
  }
  #history .year {
    font-size: 40px;
  }
  #history .box:nth-child(2n) .year {
    left: 0;
  }
  #history .box:nth-child(2n) .horizontal {
    left: 80%;
  }
  #history .contents {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
  }
  #history .box:nth-child(2n) .contents {
    left: 0;
  }
  #history .box:nth-child(2n) .photo {
    left: 0;
  }
  #history .box:nth-child(3) {
    top: -300px;
  }
  #history .box:nth-child(4) {
    top: -350px;
  }
  #history .box:nth-child(5) {
    top: -650px;
  }
  #history .box:nth-child(6) {
    top: -700px;
  }
  #history .box:nth-child(7) {
    top: -1550px;
  }
  #history .box:nth-child(8) {
    top: -1500px;
  }
  #history .box:nth-child(9) {
    top: -2200px;
  }
  #history .box:nth-child(10) {
    top: -2300px;
  }
  #history .box:nth-child(11) {
    top: -2250px;
  }
  #history .box:nth-child(12) {
    top: -2700px;
  }
  #history .box:nth-child(13) {
    top: -3400px;
  }
  #history .box:nth-child(14) {
    top: -3600px;
  }
  #history .box:nth-child(15) {
    top: -4650px;
  }
  #history .box:nth-child(16) {
    top: -5000px;
  }
  #history .box:nth-child(17) {
    top: -5450px;
  }

  #ceo {
    margin-top: 0;
    background: linear-gradient(to right, rgb(5, 15, 145) 20%, transparent 20%);
  }
  #ceo .box {
    margin-bottom: 80px;
  }
  #ceo .wrap {
    order: 2;
    margin-top: 90px;
    margin-right: 0;
  }
  #ceo .bg {
    order: 1;
  }
  #ceo .sign {
    margin-bottom: 80px;
    font-size: 20px;
  }
  #ceo .sign img {
    width: 250px;
  }
  #ceo .bg {
    height: 1456px;
  }
  #ceo .bg img {
    height: 50%;
    transform: translateX(30%);
  }

  #testbrand .gallery,
  #brand .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #testbrand .title,
  #brand .title {
    margin-bottom: 90px;
  }
  #testbrand .box,
  #brand .box {
    margin-bottom: 60px;
  }

  #foreign .map,
  #internal .map {
    height: 700px;
  }
  #foreign .search,
  #internal .search {
    margin: 100px 0;
  }
  #foreign .form-box,
  #internal .form-box {
    float: left;
    width: 22.5%;
    margin: 0;
    margin-left: 4%;
  }
  #foreign .form-box:nth-child(1),
  #internal .form-box:nth-child(1) {
    width: 22.5%;
    margin-left: 0;
  }
  #foreign .form-box:nth-child(2),
  #internal .form-box:nth-child(2) {
    float: left;
    width: 22.5%;
    margin-left: 2%;
  }
  #foreign .form-box:nth-child(5) .form-control,
  #internal .form-box:nth-child(5) .form-control {
    padding: 0 55px 0 20px;
  }
  #foreign .fa-search,
  #internal .fa-search {
    padding: 0 15px;
  }
  #foreign .list,
  #internal .list {
    margin: 100px 0;
    line-height: 60px;
  }
  #foreign .list .title li,
  #foreign .list .contents li,
  #internal .list .title li,
  #internal .list .contents li {
    width: 15%;
  }
  #foreign .list .title li:nth-child(4),
  #foreign .list .contents li:nth-child(4),
  #internal .list .title li:nth-child(4),
  #internal .list .contents li:nth-child(4) {
    width: 40%;
  }
  #foreign .list .contents .detail,
  #internal .list .contents .detail {
    padding: 30px;
  }
  #foreign .list .contents .detail .wrap2,
  #internal .list .contents .detail .wrap2 {
    padding: 30px 40px 30px;
  }

  #step .box {
    width: 23.5%;
    margin: 2% 0 0 2%;
  }
  #step .box:nth-child(2n + 1) {
    margin-left: 2%;
  }
  #step .box:nth-child(3n + 1) {
    margin-left: 2%;
  }
  #step .box:nth-child(4n + 1) {
    margin-left: 0;
  }

  #inquiry .post {
    float: left;
    width: 13%;
    margin-right: 3.5%;
  }
  #inquiry .form_block input {
    float: left;
    width: 40%;
  }
  #inquiry #store_adr1 {
    margin-right: 3.5%;
  }

  #event {
    margin: 100px 0;
  }
  #event .box .logo img {
    height: 30px;
  }
  #event .box .text p {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  .subList .contents ul {
    max-width: 1320px;
  }

  #step .box {
    width: 18%;
    margin: 2.5% 0 0 2.5%;
  }
  #step .box:nth-child(2n + 1) {
    margin-left: 2.5%;
  }
  #step .box:nth-child(3n + 1) {
    margin-left: 2.5%;
  }
  #step .box:nth-child(4n + 1) {
    margin-left: 2.5%;
  }
  #step .box:nth-child(5n + 1) {
    margin-left: 0;
  }
}
